---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Footer from '../components/Footer.astro'

import projects from '../data/projects.json';
---

<Layout title="Chris Mendez | Portfolio">
	<main class="mx-auto px-6 py-12 md:px-0 md:max-w-xl xl:max-w-3xl 2xl:max-w-4xl">
		<Header />
		<section>
			<h2 class="mb-6 text-2xl font-medium text-blue-700">My Projects</h2>
			 {projects.map(project => <ProjectCard {...project} />)}
		</section>
	</main>
	<Footer />
</Layout>

