---
import { Icon } from 'astro-icon/components'
---

<header class="mb-12">
  <h1 class="mb-6 text-lg leading-relaxed md:text-2xl md:leading-relaxed text-blue-700">
    👋 Hi, I'm Chris Mendez, a Software Engineer specializing in frontend web development.
  </h1>
  <p class="mb-6 text-blue-600">I'm currently a computer science major at Western Governors University. I have a passion for coding, learning, and building. Beyond tech, you'll find me enjoing indie films at the theater, café hopping, or learning chess.</p>

   <p class="mb-6 text-blue-600">I still have much more to learn and I'm always open to exploring new opportunities. <span class="font-bold">Feel free to connect with me below!</span></p>

  <div class="flex gap-6 items-center">
    <a href="https://github.com/cmendez20" target="_blank" aria-label="Check out Chris's github">
      <Icon name="mdi:github" class="text-4xl transition-colors text-blue-600 hover:text-blue-800" />
    </a>
    <a href="https://www.linkedin.com/in/cjmendez/" target="_blank" aria-label="Check out Chris's linkedin">
      <Icon name="mdi:linkedin" class="text-4xl transition-colors  text-blue-600 hover:text-blue-800" />
    </a>
    <a href="mailto:mendecj812@gmail.com" target="_blank" aria-label="Send chris mendez an e-mail">
      <Icon name="mdi:gmail" class="text-4xl transition-colors text-blue-600 hover:text-blue-800" />
    </a>
    <a href="/mendez_christopher_resume.pdf" target="_blank" aria-label="Check out Chris's resume" class="font-mono text-blue-600 transition-colors hover:text-blue-800 hover:underline">
      Resume
    </a>
  </div>
</header>