<header class="mb-12">
  <h1 class="mb-6 text-lg leading-relaxed md:text-2xl md:leading-relaxed">
    👋 Hi, I'm Chris Mendez, a Software Engineer specializing in frontend web development.
  </h1>

  <p class="mb-6">I'm currently a computer science major at Western Governors University. I have a passion for coding, learning, and building. Beyond tech, you'll find me enjoing indie films at the theater, café hopping, or learning chess.</p>

   <p class="mb-6">I still have much more to learn, and I'm always open to exploring new opportunities, <span class="font-bold">connect with me here.</span></p>

  <div class="flex gap-10">
    <a href="https://github.com/cmendez20" class="text-slate-600 hover:underline" target="_blank">
      github
    </a>
    <a href="https://www.linkedin.com/in/cjmendez/" class="text-red-600 hover:underline" target="_blank">
      linkedin

    </a>
  </div>
</header>